@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@keyframes fade {
    0% {
        opacity: .4;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: .4;
    }
}

@keyframes gradientChange {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #454854;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2E3038;
}

:root {
    --roxo: #7F00FD;
    --roxoEscuro: #6600CC;
    --branco: #FEFFF9;
    --preto: #101114;
    --brancoEscuro: #E5E5E5;
    --pretoClaro: #17181C;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

body {
    color: #f7f4fb;
    background-color: var(--preto);
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: default;
}

.logo {
    height: 48px;
    aspect-ratio: 1/1;
}

.home {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: radial-gradient(ellipse at center, rgba(128, 0, 255, 0.2) 0%, rgba(16, 17, 20, 1) 70%), radial-gradient(ellipse at center, rgba(128, 0, 255, 0.2) 0%, rgba(16, 17, 20, 1) 50%), radial-gradient(ellipse at center, rgba(128, 0, 255, 0.01) 0%, rgba(16, 17, 20, 1) 30%);
    background-size: 150% 100%;
    background-position: 50% 50%;
    position: relative;
    z-index: 1
}

.arrow-down {
    height: 16px;
    width: 16px;
    fill: var(--branco);
}

.animation-fade {
    animation: fade 3s infinite;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.about-me h1 {
    line-height: 1em;
    font-size: 72px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.about-me h2 {
    opacity: 1;
    line-height: 1em;
    font-weight: 250;
    margin: 0;
    text-align: center;
    color: var(--branco);
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    color: var(--branco);
    background-color: var(--roxo);
    padding: 1em 3em 1em 3em;
    border: none;
    border-radius: 2em;
    height: 48px;
    cursor: pointer;
    font-family: "Bricolage Grotesque", sans-serif;
}

.about-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    height: fit-content;
    margin-top: 2em;
}

.social-btns {
    gap: .5em;
}

.primary-btn:hover {
    transition: 400ms;
    cursor: pointer;
    background-color: var(--roxo);
    box-shadow:
        0px 0px 10.9px 0px rgba(158, 77, 248, .5),
        0px 0px 49.14px 0px rgba(158, 77, 248, .5),
        0px 0px 110.27px 0px rgba(158, 77, 248, .5);
}

.primary-btn:active {
    scale: 0.98;
}

.social-btns {
    display: flex;
    flex-direction: row;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--roxo);
    border-radius: 100%;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.social-btn svg {
    width: 24px;
    height: 24px;
    fill: var(--roxo);
}

.social-btn:hover {
    transition: 400ms;
    background-color: var(--roxo);
    border: none;
    box-shadow:
        0px 0px 10.9px 0px rgba(158, 77, 248, .5),
        0px 0px 49.14px 0px rgba(158, 77, 248, .5),
        0px 0px 110.27px 0px rgba(158, 77, 248, .5);
}

.social-btn:hover svg {
    fill: var(--branco);
}

.social-btn:active {
    scale: 0.96;
}

.highlight {
    background-image: linear-gradient(to left, #7F00FD, #9933FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.work {
    margin: 10em;
}

#workTitle {
    margin-top: 0;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    margin-bottom: 64px;
}

.work-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 96px;

}

.card {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 2em;
    padding: 1em;
    height: 300px;
    background-color: var(--pretoClaro);
}

.invertido {
    flex-direction: row-reverse;
}

.cardDesc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 24px;
    flex-grow: 1;
}

.cardDesc h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    line-height: 48px;
}

.cardDesc p {
    font-size: 18px;
}

#card-seene {
    background-image: url(./assets/imgs/seene.png);
    background-size: cover;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

#card-summonersForge {
    background-image: url(./assets/imgs/summonersForge.png);
    background-size: cover;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

#card-komer {
    background-image: url(./assets/imgs/komer.png);
    background-size: cover;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

#card-more {
    background-image: url(./assets/imgs/more.png);
    background-size: cover;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

.card:hover {
    background-color: var(--roxo);
    transition: 200ms;
    box-shadow:
        0px 0px 10.9px 0px rgba(158, 77, 248, .5),
        0px 0px 49.14px 0px rgba(158, 77, 248, .5),
        0px 0px 110.27px 0px rgba(158, 77, 248, .5);
    scale: 1.02;
}

.card:active {
    scale: 0.99;
}

.skills {
    margin: 0 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills h1 {
    font-weight: 400;
    margin-top: 0;
    font-size: 32px;
}

#skillsTitle {
    margin-top: 0;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    margin-bottom: 64px;
}

.skills-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-grow: 1;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    background-color: var(--pretoClaro);
    width: 100%;
    border-radius: 2em;
    height: fit-content;
}

.skill-card:hover {
    transform: scale(1.02);
    transition: 400ms;
    background-color: var(--roxo);
    box-shadow:
        0px 0px 10.9px 0px rgba(158, 77, 248, .5),
        0px 0px 49.14px 0px rgba(158, 77, 248, .5),
        0px 0px 110.27px 0px rgba(158, 77, 248, .5);
}


.card-body p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
}

.card-header {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: start;
    align-items: center;
}

.card-header h1 {
    margin: 0;
    font-weight: 400;
}

.card-header svg {
    height: 32px;
    width: 32px;
    color: var(--branco);
}

#contactTitle {
    margin-top: 0;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    margin-bottom: 64px;
}

.contact-options {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.options h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    margin-top: 12px;
}

.options span {
    font-size: 24px;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
}

.options svg {
    height: 24px;
    fill: var(--branco);
}

.contact-type {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--pretoClaro);
    padding: 1em;
    border-radius: 2em;
    width: 420px;
    gap: 1em;
}

.options:hover {
    transform: scale(1.02);
    transition: 400ms;
    background-color: var(--roxo);
    box-shadow:
        0px 0px 10.9px 0px rgba(158, 77, 248, .5),
        0px 0px 49.14px 0px rgba(158, 77, 248, .5),
        0px 0px 110.27px 0px rgba(158, 77, 248, .5);
}

.options:hover .primary-contact-btn {
    color: var(--branco);
    background-color: var(--branco);
    color: var(--roxo);
}

.options:hover .primary-contact-btn:hover {
    background-color: var(--brancoEscuro);
}

.options:hover .primary-contact-btn:active {
    scale: 0.98;
}

.options:hover .secundary-btn {
    background-color: rgba(0, 0, 0, 0);
}

.options:hover .secundary-btn:hover {
    background-color: var(--roxoEscuro);
}

.options:hover .secundary-btn:active {
    scale: 0.98;
}

.contact-btns {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.primary-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--branco);
    background-color: var(--roxo);
    height: 48px;
    border-radius: 2em;
    border: none;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: 200ms;
}

.secundary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--branco);
    background-color: var(--pretoClaro);
    border: none;
    height: 48px;
    border-radius: 2em;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: 200ms;
}

.secundary-btn:hover {
    background-color: #23242A;
}

.contact-container {
    margin: 10em;
}

.selectableText {
    cursor: text;
}

.hidden {
    opacity: 0 !important;
}

footer {
    padding: 1em;
    text-align: center;
}


@media (max-width: 1300px) {
    main {
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .home {
        background-size: 100% 100%;
        height: 85vh;
        max-width: 650px;
    }

    .home h1 {
        font-size: 32px;
    }
    
    .home h2 {
        font-size: 16px;
    }

    .about-btns {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .about-btns a {
        width: 100%;
    }

    .primary-btn {
        width: 100%;
    }

    .social-btns {
        gap: 0.5em;
        justify-content: center;
    }


    .work {
        width: 100%;
        margin: 0;
        padding: 24px 0;
        max-width: 650px;
    }

    .work-cards {
        gap: 1em;
    }

    #workTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .card {
        width: auto;
        flex-direction: column;
        height: auto;
        background-color: var(--pretoClaro);
    }

    .card h1 {
        font-size: 24px;
        line-height: 28px;
    }
    
    .card p {
        font-size: 16px;
        margin: 0;
    }

    .cardDesc {
        padding: 0px;
        margin: 24px 0px;
        gap: 1em;
    }
    
    .cardImg {
        width: 100%;
    }

    .skills {  
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 24px 0;
        max-width: 650px;
    }

    #skillsTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .skills-cards {
        flex-direction: column;
        width: 100%;
    }

    .skill-card {
        padding: 2em;
        width: auto;
        height: auto;
        border-radius: 24px;
    }

    .skill-card h1 {
        font-size: 24px;
    }

    .skill-card p {
        font-size: 16px;
    }



    .contact {
        margin: 0;
        padding: 24px 0;
        width: 100%;
        max-width: 650px;
    }

    #contactTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .contact-container {
        margin: 0;
        width: auto;
    }

    .contact-options {
        flex-direction: column;
        width: auto;
        margin: 0;
    }

    .options {
        width: auto;
    }

    .options h1 {
        font-size: 24px;
    }

    .options p {
        font-size: 16px;
    }

    .options span {
        font-size: 18px;
    }

    footer {
        padding: 12px;
        text-align: center;
    }

    footer p {
        margin: 0;
    }
}


@media (max-width: 600px) {

    main {
        margin: 1em;
    }

    .home {
        background-size: 100% 150%;
        height: 85vh;
        margin: -1em;
        padding: 1em;
        background: radial-gradient(ellipse at center, rgba(128, 0, 255, 0.2) 0%, rgba(16, 17, 20, 1) 80%), radial-gradient(ellipse at center, rgba(128, 0, 255, 0.05) 0%, rgba(16, 17, 20, 1) 60%);
    }

    .home h1 {
        font-size: 32px;
    }
    
    .home h2 {
        font-size: 16px;
    }

    .about-btns {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .about-btns a {
        width: 100%;
    }

    .primary-btn {
        width: 100%;
    }

    .social-btns {
        gap: 0.5em;
        justify-content: center;
    }


    .work {
        width: 100%;
        margin: 0;
        padding: 24px 0;
    }

    .work-cards {
        gap: 1em;
    }

    #workTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .card {
        width: auto;
        flex-direction: column;
        height: auto;
        background-color: var(--pretoClaro);
        border-radius: 1.5em;
    }

    .card h1 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }
    
    .card p {
        font-size: 16px;
        margin: 0;
    }

    .cardDesc {
        padding: 0px;
        margin: 24px 0px 0px 0px;
        gap: 1em;
    }
    
    .cardImg {
        width: 100%;
        border-radius: 0;
    }

    .skills {  
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 24px 0;
    }

    #skillsTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .skills-cards {
        flex-direction: column;
        width: 100%;
    }

    .skill-card {
        padding: 2em;
        width: auto;
        height: auto;
        border-radius: 1.5em;
    }

    .skill-card h1 {
        font-size: 24px;
    }

    .skill-card p {
        font-size: 16px;
    }



    .contact {
        margin: 0;
        padding: 24px 0;
    }

    #contactTitle {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    .contact-container {
        margin: 0;
        width: auto;
    }

    .contact-options {
        flex-direction: column;
        width: auto;
        margin: 0;
    }

    .options {
        width: auto;
        border-radius: 1.5em;
    }

    .options h1 {
        font-size: 24px;
    }

    .options p {
        font-size: 16px;
    }

    .options span {
        font-size: 18px;
    }

    footer {
        padding: 12px;
        text-align: center;
    }

    footer p {
        margin: 0;
    }
}

